body {
    background-color: rgb(55, 36, 87); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TopBar {
    font-size: 32px;
    font-weight: bold;
    color: #000000; 
}

.navbar {
    background-color: #000000;
    background-image: url(https://cdn4.iconfinder.com/data/icons/medical-icons-normal/1000/modules_health_calc.png);
    background-repeat: no-repeat;
    background-size: auto 70px;
    padding-right: 30px;;
    padding-left: 10px;
    padding-top: 15px;
}

.card-header {
    background-color: #333;
    color: white;
}

.btn-primary {
    background-color: rgb(55, 36, 87);
}
